<ul class="menu">
	<li><a href="/">Home</a></li>
	<li><a href="#">Parenting for Character</a>
		<ul>
			<li><a href="/fostering-virtues">Fostering Virtues</a></li>
		</ul>
	</li>
	<li><a href="/tag/science-of-parenting">Science of Parenting</a></li>
	<li><a href="/tag/the-good-true-and-beautiful/">The Good, True and Beautiful</a></li>
</ul>
