<ul class="menu">
	<li><a href="/">Home</a></li>
	<li><a href="/parenting-for-character">Parenting for Character</a></li>
  <li><a href="/fostering-virtues">Fostering Virtues</a></li>
	<li><a href="/science-of-parenting">Science of Parenting</a></li>
  <li><a href="/classical-wisdom">Classical Wisdom</a></li>
	<li><a href="/tag/parenting-snapshot/">Parenting Snapshot Archives</a></li>
</ul>
