<!-- start sidebar -->
<div class="col-md-4 sidebar">
	{{> widget-text}}
  {{> widget-newsletter}}
  {{> widget-book}}
  {{> widget-tagcloud}}
  {{> widget-social}}
</div>
<!-- end sidebar -->
