<!-- start widget -->
<div class="widget">
	<h4 class="title">About</h4>
	<div class="content">
        <p>This website brings together parenting best practice and the science of parenting. Woven in, are many stories, all of them true. It is the fruit of years serving many amazing families in schools of the PARED (Parents for Education) Foundation where support for parents in the upbringing of their children has been the highest priority for staff.</p>
        <p>Your positive emotional example is vital for your child. From their first months infants watch their parents’ faces. Your baby learns to love, and what to love, by watching you, and by learning what gives you joy.  Your emotional example is the crucial factor in the development of a healthy motivational system in your child.</p>
        <p>Love your visit.</p>
        <p><a href="/about">Continue reading</a></p>
	</div>
</div>
<!-- end widget -->
