<!-- start widget -->
<div class="widget">
	<h4 class="title">Order</h4>
	<div class="content">
        <p><img src="{{asset "images/snapshotlogo.png"}}" alt="Parenting Snapshot Logo" width="300"/></p>
        <p>Parenting Snapshot is a delightful and remarkably economical video minute digital newsletter delivered to the entire school community via a link in your school newsletter each month.</p>
        <p>For more info, contact apjm [dot] vic [at] gmail [dot] com</p>
	</div>
</div>
<!-- end widget -->