<!-- start widget -->
<div class="widget">
	<h4 class="title">Buy</h4>
	<div class="content">
        <p><img src="{{asset "images/parentingforcharacter.jpg"}}" alt="Parenting for Character book" height="300"/></p>
        <p>Parenting for Character is a practical manual to help parents develop in their children qualities necessary for a happy and fulfilling adult life.</p>
        <p>In this book, Dr. Andrew Mullins argues that parents need to help build character: it does not just evolve.</p>
        <p>He explores how to encourage young people to think independently and make choices that are good for themselves and others.</p>
        <p><a href="http://finch.com.au/books/parenting-for-character" target="_blank">Get the book</a></p>
	</div>
</div>
<!-- end widget -->