<!-- start widget -->
<div class="widget">
	<h4 class="title">About</h4>
	<div class="content">
		<p>This website brings together the stories, the best practice, and the science of parenting. It is the fruit of years serving some amazing families in two Sydney schools of the PARED (Parents for Education) Foundation where support for parents in the upbringing of their children has been the highest priority for staff.</p>
		<p>Enjoy your visit, but more importantly show your joyful dedication to your children in a thousand details, but first of all on your face. From you they will learn that life is better when we live for others.</p>
	</div>
</div>
<!-- end widget -->
